#about{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3rem 5rem;
    margin-bottom: 5rem;
    gap: 5rem;
}

.about{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem 3rem;
    margin-bottom: 5rem;
    gap: 2rem;
}

.left-col{
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    width: 40rem;
}

.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem;
    background-color: #18181f;
    border-radius: 1rem;
    border: 0.1rem solid rgb(80, 79, 79);
    color: #8c96a1;
    width: 8rem;
    margin-bottom: 2rem;
    font-size: 0.7rem;
}

.about-me-h1{
    font-size: 5rem;
    color: white;
}

.about-me-h1-bottom{
    margin-top: -1rem;
    font-size: 5rem;
    background: linear-gradient(to bottom, #ffffff,#8b8d8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me-h2{
    color: #8A58FF;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.location{
color: #8c96a1;
}

.about-description{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.more-about-description{
    margin-bottom: 3rem;
    color: #8c96a1;
}


.about-my-works{
    display: flex;
   
    align-items: center;
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.project{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;
    padding: 0.8rem 1.3rem;
    border-radius: 0.7rem;
    background: linear-gradient(to right, #0d98e9,#00e1ff); 
}

.project img{
    width: 0.9rem;
}

.project:hover{
    cursor: pointer;
    box-shadow: 0 0 15px rgba(53, 135, 202, 0.9);
    transition: 0.01s;
    transform: scale(1.1);
    transform: translateXY(0.01rem);
}

.project:hover img{
    transition: 0.3s;
    transform: scale(1.1);
    transform: translateX(0.3rem);
}

.portfolio{
    /* display: flex; */
    padding: 0.8rem 1.5rem;
    border-radius: 0.7rem;
    color: #8c96a1;
    border: 0.1rem solid rgb(80, 79, 79);
}

.portfolio:hover{
    cursor: pointer;
    background-color: #252627;
    transition: 0.5s;
}


/* .image-wrapper{
    padding: 0.3rem;
    border-radius: 1.8rem;
    background: rgb(255, 255, 255, 0.2);
} */

.right-col{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgb(80, 79, 79);
    border-radius: 1rem;
    /* padding: 3rem; */
    width: 40rem;
    height: 40rem;
    background: url(../../assets/AboutImages/alado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
   
}

/* .right-col::before{
    content: "";
    position: absolute;
    inset: 0;
    border: 0.1rem solid rgb(80, 79, 79);
    border-radius: 0.8rem;
    padding: 5rem; 
    z-index: 1; 
} */

/* .image img{
    border-radius: 1rem;
    height: 37rem;
    width: 28rem;
} */