#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    margin-top: 7rem;
}

.header-top{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    color: #8c96a1;
    border-radius: 1rem;
    font-size: 0.6rem;
    border: 0.1rem solid rgb(80, 79, 79);
    background-color: #18181f;
}

.slash{
    color: #0d98e9;
}

h1{
   font-size: 8rem;
   color: white;
   line-height: 1.1;
}

.h1-bottom{
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    background: linear-gradient(to bottom, #ffffff,#8b8d8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
    color: #8c96a1;
    margin: 0 auto 2rem auto;
    width: 50%;
    line-height: 1.6;
}

.my-works{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.project{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.8rem 1.3rem;
    border-radius: 0.7rem;
    background: linear-gradient(to right, #0d98e9,#00e1ff);
    transition: 0.3s ease;
}

.project img{
    width: 0.9rem;
    transition: 0.3s ease;
}

.project:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(53, 135, 202, 0.9);
    transform: scale(1.05);
}

.project:hover img{
    transform: translateX(0.3rem);
}

.portfolio{
    padding: 0.8rem 1.5rem;
    border-radius: 0.7rem;
    color: #8c96a1;
    border: 0.1rem solid rgb(80, 79, 79);
    transition: 0.3s ease;
    justify-content: center;
}

.portfolio:hover{
    cursor: pointer;
    background-color: #252627;
}

.header-bottom-line{
    width: 0.125rem;
    height: 2.5rem;
    margin: 1rem auto;
    background: linear-gradient(to bottom, #4fd1ff, transparent);
}

/* Tablet */
@media (max-width: 64rem){
    h1{
        font-size: 5rem;
    }

    .description{
        width: 70%;
    }
}

/* Mobile */
@media (max-width: 48rem){

  #header{
    padding: 2rem 1rem;
    margin-top: 4rem;
  }

  h1{
    font-size: 3rem;
  }

  .h1-bottom{
    margin-top: -0.5rem;
  }

  .description{
    width: 90%;
    text-align: center;
  }

  .my-works{
    flex-direction: column;
    gap: 1rem;
  }

  .project{
     width: 100%;
  }

  .portfolio{
    width: 100%;
  }

}