 .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  background: #41405366;
  color: white;
  padding: 0.9rem 2rem;
  border-radius: 5rem;
  width: 85%;
  border: 1px solid rgb(80, 79, 79);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  backdrop-filter: blur(1rem);
  /* background-color: red; */

}

.navbar-left{
  display: flex;
  align-items: center;
}
.navbar-name p{
  color: #8c96a1;
}

.navbar-logo{
    color: white;
    padding: 0.2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.navbar-logo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #0d98e9,#00e1ff);
  border-radius: 0.8rem;
  padding: 0.2rem;
  transform: rotate(45deg); 
  z-index: -1; 
}

.navbar-btns{
  display: flex;
  margin-left: 5rem;
}


.navbar-btns a{
  color: #8c96a1;
  margin-left: 2rem;
  font-size: 0.8rem;
}

hr{
  height: 1.2rem;
}

.navbar-right{
  display: flex;
  align-items: center;
}

.navbar-right img{
  margin-right: 2rem;
}

.navbar-right img:hover{
  cursor: pointer;
}

.navbar-right a{
  display: flex;
  justify-content: center;
  background: rgb(32, 31, 31);
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 7rem;
  font-size: 0.8rem;
}

.navbar-right a:hover{
  cursor: pointer;
  background: linear-gradient(to right, #0d98e9,#00e1ff);
  transition: 0.9s;

}