.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  background: #41405366;
  color: white;
  padding: 0.9rem 2rem;
  border-radius: 5rem;
  width: 85%;
  border: 1px solid rgb(80, 79, 79);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  backdrop-filter: blur(1rem);
  background-color: red;

}

.navbar-left{
  display: flex;
  align-items: center;
}
.navbar-name p{
  color: #8c96a1;
}

.navbar-logo{
    color: white;
    padding: 0.2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}