@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Lexend Deca", sans-serif;
    /* font-family: "Oxygen" sans-serif; */
    transition: all 0.2s linear;
}

body{
    min-height: 100vh;
    background: #110f1d;
}

a{
    text-decoration: none;
    /* color: inherit; */
}

/* .app{
    width: 80%;
    margin: auto;
} */

@keyframes fadeIn {
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }



  .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  background: #41405366;
  color: white;
  padding: 0.9rem 2rem;
  border-radius: 5rem;
  width: 85%;
  border: 1px solid rgb(80, 79, 79);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  backdrop-filter: blur(1rem);
  /* background-color: red; */

}

.navbar-left{
  display: flex;
  align-items: center;
}
.navbar-name p{
  color: #8c96a1;
}

.navbar-logo{
    color: white;
    padding: 0.2rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.navbar-logo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #0d98e9,#00e1ff);
  border-radius: 0.8rem;
  padding: 0.2rem;
  transform: rotate(45deg); 
  z-index: -1; 
}

.navbar-btns{
  display: flex;
  margin-left: 5rem;
}


.navbar-btns a{
  color: #8c96a1;
  margin-left: 2rem;
  font-size: 0.8rem;
}

hr{
  height: 1.2rem;
}

.navbar-right{
  display: flex;
  align-items: center;
}

.navbar-right img{
  margin-right: 2rem;
}

.navbar-right img:hover{
  cursor: pointer;
}

.navbar-right a{
  display: flex;
  justify-content: center;
  background: rgb(32, 31, 31);
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 7rem;
  font-size: 0.8rem;
}

.navbar-right a:hover{
  cursor: pointer;
  background: linear-gradient(to right, #0d98e9,#00e1ff);
  transition: 0.9s;

}

